@using CQRSCode.ReadModel
@using CQRSCode.ReadModel.Dtos
@model ShoppingCartDTO
Varukorg: @Model.ItemCount artiklar
<ul>
    @foreach (var item in Model.Items)
    {
        <li>@item.Name</li>
    }
</ul>
